
%h2
  Hi
%form
  %div.option
    %div.label
      IP
    %input{id: "ip", type: "text", value: "10.0.1.87"}
  %div.option
    %div.label
      Start LED
    %input{id: "start_led", type: "text", value: "0"}
  %div.option
    %div.label
      End LED
    %input{id: "end_led", type: "text", value: "255"}
  %div.option
    %div.label
      Red
    %input{id: "red", type: "text",  value: "0"}
  %div.option
    %div.label
      Green
    %input{id: "green", type: "text",  value: "0"}
  %div.option
    %div.label
      Blue
    %input{id: "blue", type: "text",  value: "0"}
  %input{id: "set", type: "button", value: "Set"}
  